/* All File */
/* Our colors:
#005AB5
#DC3220
*/

* {
  font-family: 'Comfortaa', cursive;
}

html {
 height: 100%;
 background: radial-gradient(circle, #084888 0%, #052442 100%);
 background-attachment: fixed;
 background-repeat: no-repeat;
}

body {
  margin: 0;
}

h1 {
  color: white;
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
}

/* Login Page */
.login-page {
  margin-top: 30vh;
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  color: white;
  font-size: 40px;
  min-height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: .7;
  border-radius: 20px;
}

.go-to-site {
  color: white;
  font-size: 2.5em;
  margin-top: 4vh;
  width: 60vw;
  min-height: 5vh;
  border-radius: 20px;
  background: #005AB5;
  background-size: contain;
  background-repeat: no-repeat;
}

.login-header {
  font-size: 3em;
  margin-bottom: 20vh;
}

.user-select-label {
  font-size: 1.5em;
}

.all-users-list {
  font-size: 1em;
}

/* Main Page */

/* header */
.main-page-header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.welcome-message {
  font-size: 2em;
  margin-left: 1vw;
}

.main-page-menu {
  margin-right: 2vw;
  width: 10vw;
  border: none;
  background-image: url("../assets/profile2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* nav buttons */
.nav-buttons-wrapper {
  width: 100vw;
  height: 3vh;
  display: flex;
}

.nav-button {
  font-size: 1.5em;
  color: white;
  border: none;
  width: 34vw;
  background-color: #005AB5;
}

.nav-button:hover,
.main-page-menu:hover,
.main-page-menu:focus,
.nav-button:focus {
  outline: none;
}

.nav-button-select {
  border-bottom: 3px solid orange;
}


/* widgets */
.widget-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.widget {
  text-align: center;
  margin: 6vw;
  width: 80vw;
  height: 20vh;
  border: 1px solid black;
}

.widget-graph {
  text-align: center;
  margin: 6vw;
  width: 80vw;
  height: 20vh;
  border: 1px solid black;
}

.widget,
.widget-graph {
  background-color: darkgrey;
  border-radius: 20px;
  opacity: .8;
}

.widget-header {
  font-size: 2.5em;
  margin-bottom: 0;
}

.compare-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.compare-number {
  font-size: 4em;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.hidden {
  display: none;
}
