/* All File */
/* Our colors:
#005AB5
#DC3220
*/

* {
  font-family: 'Comfortaa', cursive;
}

html {
 height: 100%;
 background: radial-gradient(circle, #084888 0%, #052442 100%);
 background-attachment: fixed;
 background-repeat: no-repeat;
}

body {
  margin: 0;
}

h1 {
  color: white;
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Login Page */
.login-page {
  margin-top: 30vh;
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  color: white;
  font-size: 40px;
  min-height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: .7;
  border-radius: 20px;
}

.go-to-site {
  color: white;
  font-size: 2.5em;
  margin-top: 4vh;
  width: 60vw;
  min-height: 5vh;
  border-radius: 20px;
  background: #005AB5;
  background-size: contain;
  background-repeat: no-repeat;
}

.login-header {
  font-size: 3em;
  margin-bottom: 20vh;
}

.user-select-label {
  font-size: 1.5em;
}

.all-users-list {
  font-size: 1em;
}

.all-user-list:focus {
  height: 1px;
  width: 1px;
}

/* Main Page */

/* header */
.main-page-header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.welcome-message {
  font-size: 2em;
  margin-left: 2vw;
}

.main-page-menu {
  margin-right: 2vw;
  width: 10vw;
  border: none;
  background-color: inherit;
  background-image: url("../assets/profile.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* nav buttons */
.nav-buttons-wrapper {
  width: 100vw;
  height: 3vh;
  display: flex;
}

.nav-button {
  font-size: 1.5em;
  color: white;
  border: none;
  width: 34vw;
  background-color: #005AB5;
  opacity: 65%;
}

.nav-button:hover,
.main-page-menu:hover,
.main-page-menu:focus,
.nav-button:focus {
  outline: none;
}

.nav-button-select {
  border-bottom: 3px solid orange;
  opacity: 100%;
}


/* widgets */
.widget-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget {
  text-align: center;
  margin: 6vw;
  width: 80vw;
  height: 20vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sl-image-wrapper {
  display: flex;
  justify-content: space-around;
  height: 40%;
  width: 80%
}

.ac-image-wrapper {
  display: flex;
  justify-content: space-around;
  height: 20%;
  width: 10%;
}

.widget-graph {
  margin: 6vw;
  width: 80vw;
  height: 30vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.widget,
.widget-graph {
  background-color: #F6E5D3;
  border-radius: 20px;
  opacity: .8;
}

.chart-wrapper {
  width: 100vw;
  height: 30vh;
  border: 1px solid black;
  margin-bottom: 10px;
  display: contents;
}

.widget-header {
  font-size: 2.5em;
  margin-bottom: 0;
}

.compare-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 8vh;
}

.compare-number {
  font-size: 4em;
  margin-top: 0;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.hy-user-stat {
  color: #005AB5;
  font-size: 1.2em;
  font-weight: bolder;
}

.sl-user-stat {
  color: mediumpurple;
  font-size: 1.2em;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.sl-checkbox,
.ac-radio {
  display: flex;
  margin-bottom: 2vh;
}

.ac-radio {
  width: 100%;
  justify-content: space-around;
}

.graph-label {
  margin-bottom: 2vh;
}

.sl-daily {
  justify-content: flex-start;
}

/* datepicker */

.date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}

.date-picker-heading {
  margin-top: 0;
  color: white;
  margin-bottom: 1vh;
}

.date-start {
  margin-right: 1vw;
  margin-bottom: 2vh;
}

.change-dates {
  font-size: 1.3em;
  width: 10vw;
  height: 5vh;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 2vh;
}

.alarm-clock-wrapper {
  margin-right: 3vw;
}

@media only screen and (max-device-width: 320px) {
  .main-page-header {
    height: 7vh;
  }

  .welcome-message {
    font-size: 1.5em;
    margin-top: .5em;
  }

  .nav-buttons-wrapper {
    height: 5vh;
  }

  .nav-button {
    font-size: 1em;
  }

  .widget-header {
    font-size: 1.5em;
    margin-top: 3vw;
    margin-bottom: 0;
  }

  .widget {
    width: 90vw;
    margin: 3vw;
    height: 25vh;
  }

  .widget-text {
    font-size: 1em;
  }

  .widget-graph {
    width: 95vw;
    height: 35vh;
  }

  .login-header {
    font-size: 1.5em;
  }

  .user-select-label {
    font-size: .5em;
  }

  .all-users-list {
    width: 60vw;
    height: 4vh;
    font-size: .4em
  }

  .go-to-site {
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
    margin: 0;
    margin-top: .2em;
  }

  .compare-number {
    font-size: 2.5em;
  }

  .ac-stats {
    margin: .1em;
  }
  .chart-wrapper {
      width: 80vw;
      height: 30vh;
      border: 1px solid black;
      margin-bottom: 10px
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 767px) {
  h2 {
    font-size: 1.2em;
  }

  .main-page-header {
    height: 8vh;
  }

  .welcome-message {
    font-size: 1.5em;
  }

  .widget-header {
    font-size: 1.5em;
    margin: 0;
    margin-top: .4em;
  }

  .widget {
    width: 85vw;
    height: 29vh;
  }

  .widget-graph {
    width: 95vw;
    height: 35vh;
  }

  .login-page {
    margin-top: 20vh;
  }

  .login-header {
    font-size: 2em;
  }

  .user-select-label {
    font-size: .6em;
  }

  .all-users-list {
    font-size: .45em;
  }

  .go-to-site {
    font-size: 1em;
  }

  .nav-buttons-wrapper {
    height: 5vh;
  }

  .nav-button {
    font-size: 1.1em;
  }

  .compare-number {
    font-size: 2em;
  }
}
 /* and (max-device-width: 991px)  */
@media only screen and (min-device-width: 768px) {

  h2 {
    font-size: 1.5em;
  }

  .login-page {
    margin-top: 10vh;
  }

  .login-header {
    margin-top: 7vh;
    font-size: 2em;
  }

  .user-select-label {
    font-size: .8em;
  }

  .all-users-list {
    font-size: .65em;
  }

  .go-to-site {
    font-size: 1.5em;
  }

  .nav-buttons-wrapper {
    height: 5.2vh;
  }

  .small-widget {
    display: flex;
  }

  .widget {
    width: 40vw;
    margin: 4vw;
    height: 40vh;
  }

  .widget-graph {
    width: 90vw;
    height: 50vh;
  }

  .chart-wrapper {
    width: 90vw;
  }

  .tick {
    font-size: 1.5em;
  }

  .compare-number {
    font-size: 2.5em;
    margin: 0;
    margin-top: 2.6vh;
  }
}
